<h1>{{message}}</h1>
<div>
    my name is abhishek and i am working as a software engineer in nokia bell labs 
    joined as a trainee and continued to be a full time employee
</div>
<ul>
    <li>Training delivered by real engineers </li>
    <li>Realtime projects discussed relating to the possible interview questions </li>
    <li>trainees can attend training and use lab until you get a job</li>
    <li>resume operations and mock up interviews</li>
    <li>100% placement assistance</li>
    <li>lab facility</li>
</ul>